[Unit]
Description=Telegram bot 'ypec_bot'
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/ypec/vk
ExecStart=/usr/bin/python3 /home/ypec/vk/run.py
RestartSec=5
Restart=always
 
[Install]
WantedBy=multi-user.target